# Python virtual environment
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch checkpoints
*.pt
*.pth 